@import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei');
@import url('https://fonts.googleapis.com/css?family=Dosis');

*
{
    margin: 0;
    padding: 0;
    font-family: 'Dosis', light, sans-serif;
    font-size: 15pt;
}
h3{
    color: #36648b;
}
.img-fluid{
    width: 100%;
}
body {
    background-image: url(../locksmith/webseite/aussehen/vorlagen/Images/background.jpg);
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
main{
    background-color:rgba(255, 255, 255, 0.5);
}
.background-inner{
    background: #ffffff;
    margin: 1em;
    padding: 1em;
}
header.row{
    max-height:100%;
    overflow: hidden;
    /* margin-top: 5em; */
    background-color: rgba(255, 255, 255, 0.5);
    height: 5em;
    margin: 0 !important;
    margin-bottom: 2em !important;
    display: block;
}
p{
    margin-bottom: 0 !important;
}
.logo{
    display: block;
    padding: 1em;
}
.text-left{
    float: left;
}
.text-right{
    float: right;
    font-size: 30pt;
}
.row {
    height: 100%;
    margin: 0 !important;
}
.top{
    background-color: #05275e;
    color: #ffffff;
    margin: 2em;
}
h3{
    color: #36648b;
    line-height: 1.6;
}
form.input-group{
    display: block !important;
}
.input-group-prepend{
    margin: 0.5em;
}
h2{
    font-size: 15pt;
    text-transform: uppercase;
    margin: 1em 0;
}
.btn-outline-dark{
    padding: 0.25em;
    margin: 0.5em;
}
.table-dark{
    border-color: black;
    background-color: #c6c8ca !important;
    border-style: solid;
    border-width: 1px;
    color: #05275e;
}
.input-group-prepend{
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

.warenkorb-anzeige{
    margin-top: -3em;
    float: right;
}

table.start-artikel{
    /* border-color: black; */
    background-color: #ffffff!important;
    /* border-style: solid; */
    /* border-width: 1px; */
    color: #05275e;
    width: 45%;
    display: table;
    float: left;   
    margin: 0.5em;
}
table.start-artikel tbody tr{
    border-style: solid;
    border-color: #000;
    border-width: 3px;
}
.willkommen{
    margin: 1em 0;
}
.ueberschrift{
    font-size: 33pt;
    text-decoration: underline;
    text-transform: uppercase;
}
.progress{
    display: flex;
    height: 3rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
    float: right;
    margin: -5em -1em;
}
.progress-bar{
    background-color: #000;
    padding: 1em;
}